<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %level --- [%logger~%M] : %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Spring Security Logging -->
        <Logger name="org.springframework.security" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
